*{
	margin:0;
	padding: 0;
	list-style: none;
	font-size:12px;
}

.notice {
	width: 300px;
	height:198px;
	margin: 10px;
	border: 1px solid #eee;
	overflow: hidden;;
}

.notice-tit{
	height: 27px;
	position: relative;
	background: #F7F7F7;
}

.notice-tit ul li {
	float: left;
	font-size: 14px;
	line-height: 27px;
	text-align: center;
	width: 60px;
}

.div-select{
	display: block;
}

.div-none{
	display: none;
}

.li-select {
	background-color: red;
}

.notice-tit ul li a{
	text-decoration: none;
}

.select {
	display: block;
}

#content  a{
	margin: 5px 20px;
	float: left;
}
